---
title: Hall of Fame
layout: default
---

<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12">
          <p class="slogan text-center animated bounceInLeft">Over the years The Living Legends Foundation, through our <span>annual Awards Banquet </span>, has honored dozens of the most notable <span>stars and executives</span> in the entertainment business. These are the <span>people who built the foundation</span> of the industry.</p>
          <h1 class="right-line no-margin-top">Living Legends Hall of Fame</h1>
      </div>

  </div> <!-- row -->
    <div class="row editable">
        <div class="col-md-9">
            <section class="">
              <ol>
                {% for listmember in site.halloffame %}
                <a href="{{page.url}}#halloffame-{{ forloop.index }}">{{ listmember.name}}</a>
                {% unless forloop.last %} &nbsp;&nbsp;&#8226&nbsp;&nbsp; {% endunless %}
                {% endfor %}
              </ol>
                <img src="img/team.jpg" class="img-responsive imageborder" alt="Image">
                  {% for member in site.halloffame %}
                <div id="halloffame-{{ forloop.index }}">
                <h3 class="hof_h3">{{ member.name }}</h3>
                <p class="p-lg">{{ member.content }}</p>
                </div>
                {% endfor %}
            </section>
        </div>

        {% include sidebar_ad.html %}

    </div> <!-- row -->
</div> <!-- container -->
