---
layout: default
title: Photo Galleries
published: false
---

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Photo Gallery</h1>
        <!-- {% for item in site.data.galleries %}
          {{item[0]}}
        {% endfor %} -->
    </div>
</header>

<div class="container">
    <div class="portfolio-topbar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-12">

                <h4>15th Annual Living Legends Award Banquet</h4>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="Container">



              <div class="am-container" id="am-container">
                {% for item in site.data.galleries.15th_annual %}
            	<a target="_blank" href="img/15th_annual/{{item.img_path}}"><img width="20%" src="img/15th_annual/{{item.img_path}}" title="{{item.img_caption}}"></img></a>
              {% endfor %}
              </div>



              <!-- {% for item in site.data.15th_annual %}
               <div class="mix {{ item.category }} col-md-4 col-sm-6 col-xs-12">
                 <a href="#" class="thumbnail">
                   <img src="img/15th_annual/{{item.img_path}}" class="img-responsive" alt="{{ item.img_caption }}">
                 </a>
                 <div class="portfolio-item-caption hide">
                     <h4>{{ item.img_caption }}</h4>
                     <p>{{ item.img_caption }}</p>
                 </div>
             </div>


             {% endfor %} -->




        </div> <!-- col-md-9 -->
    </div>
  </div>
</div> <!-- container -->
