<div class="col-md-3">
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <div class="home-news-box">
                <h5 class="no-margin"><a href="">Donate to the <br>Living Legends Foundation</a></h5><br>
                <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"><br>
            </div>
        </div>
        <div class="col-md-12 col-sm-4" style="min-height:520px;border:1px solid #000">
            <div class="home-news-box">
                <!-- <h5 class="no-margin"><a href="#">Sidebar Advertisement opportunity here</a></h5> -->
                <!-- <small><a href="#">Any ad</a> | anything</small> -->
                <img src="img/demo/adplaceholder.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
