---
layout: default
---

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Photo Galleries</h1>
        <!-- {% for item in site.data.galleries %}
          {{item[0]}}
        {% endfor %} -->
    </div>
</header>

<div class="container">
    <div class="portfolio-topbar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-12">

                <h4>{{page.title}}</h4>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="Container">


{{content}}






        </div> <!-- col-md-9 -->
    </div>
  </div>
</div> <!-- container -->
{% assign wtf = site.data.galleries %}
<span id="asdf" style="display:none;">{{wtf}}</span>
<script type="text/javascript">
$( document ).ready(function() {
    console.log($("#whatgal").html());
    console.log($("#asdf").html());
});
</script>
