---
layout: default
---
<header class="main-header">
    <div class="container">
        <h1 class="page-title">{{ page.title }}</h1>


    </div>
</header>

<div class="container">
    <div class="portfolio-topbar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-12">

                <!-- <h4>Gallery</h4> -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="Container">



              <div class="am-container" id="am-container">
              {% for item in site.data.15th_annual %}
            	<a target="_blank" href="img/15th_annual/{{item.img_path}}"><img width="20%" src="img/15th_annual/{{item.img_path}}" title="{{item.img_caption}}"></img></a>
              {% endfor %}
              </div>


        </div> <!-- col-md-9 -->
    </div>
  </div>
</div> <!-- container -->
